.left,
.right {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.left {
  left: 0%;
  width: 0%;
  background-image: url("../../../../public/project3/image2.jpg");
  background-size: cover;
  width: 0;
}

.right {
  right: 0%;
  width: 100%;
  background-image: url("../../../../public/project3/image3.jpg");
  background-size: cover;
  width: 0;
}

.img-wrapper {
  position: relative;
  top: 100px;
  left: 180px;
}

.img-wrapper .karina {
  background-image: url("../../../../public/project3/image1.jpg");
  background-size: cover;
  border-radius: 10px;
  height: 550px;
  width: 0;
}
